/*Selector universal-reseteo*/
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    /*Ajustando el ancho y alto a lo declarado*/
}

/*Selector de elemento*/
body {
    background-color: white;
    font-family: sans-serif;
}

/*Removiendo el color de los enlaces*/
a {
    color: inherit;
}

/* ENCABEZADO */




.lista_ul {
    display: flex;
    list-style: none;
    gap: 30px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    text-align: center;
    padding-top: 1rem;

}

nav a:hover {
    color: #006241;
}

.menu {
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 37px;
    font-weight: 600;
}

.cafe {
    text-decoration: none;
    margin-left: 9px;
    font-weight: 750;
}

.experiencia {
    text-decoration: none;
    margin-left: 6px;
    font-weight: 750;
    letter-spacing: normal;
}

.ubicacion {
    text-decoration: none;
    position: relative;
    padding-left: 450px;
    letter-spacing: normal;
    font-weight: 780;
    font-size: 17px;
    text-transform: none;
}

.logo {
    margin-top: 1px;
    margin-left: 64px;
}

/* MAIN - PRIMERA SECTION */
.section1 {
    background-color: #d4e9e2;
    margin-bottom: 2rem;
    height: 328px;
}

.imgsection1 {
    height: 100%;
    width: 50%;
}

/* MAIN - SEGUNDA SECTION */
.section2 {
    display: flex;
    background-color: #f1f8f6;
    height: 390px;
}

.inicio2_parrafo {
    margin-bottom: 1rem;
    font-weight: 400;
    color: #006241;
    font-size: 20px;
    text-align: center;
    line-height: 1.75;
}

.inicio2_link {
    color: #006241;
    border: 1px solid;
    font-weight: 750;
    text-decoration: none;
    border-radius: 50px;
    padding: 7px 16px;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    justify-content: center;
}

.section2_div {
    width: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.section2_div1 {
    width: 50%;
    display: inline-block;
}

/* MAIN - TERCERA SECTION */
.section3 {
    display: flex;
    margin-top: 2rem;
    background-color: #f1f8f6;
    height: 400px;
    margin-bottom: 2rem;
}

.inicio3_div {
    width: 50%;
}

.inicio3_textos {
    width: 50%;
    color: #006241;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.inicio3_h {
    font-size: 30px;
    margin-bottom: 1rem;
}

.incio3_h2 {
    font-size: 30px;
    margin-bottom: 1rem;
}

.inicio3_parrafo {
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 20px;
    width: 80%;
    line-height: 1.75;
    text-align: center;
}


.inicio3_link {
    text-decoration: none;
    border-radius: 50px;
    border: 1px solid;
    font-weight: 750;
    padding: 7px 16px;
}

/*PIE DE LA PAGINA*/
.footer {
    display: flex;
    flex-direction: column;
    margin-top: 70px;

}

.div_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 72%;
    margin-left: 4rem;
}

.enlacesfooter {
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
    gap: 1rem;
    padding-right: 3rem;

}

.datafiscal {
    width: 20%;
    padding-left: 14rem;
}

.enlacef {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-left: 0;
}

.titulosf {
    font-size: 20px;
}

.subrayadooff {
    text-decoration: none;
    font-size: 15px;
    color: #ababab;

}

.enlaces2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.enlacesredes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.footerfinal {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 2rem;
    padding-bottom: 2rem;

}

.footerfinal2 {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 2rem;
    padding-bottom: 2rem;

}

.derechosr {
    display: flex;
    flex-direction: column;
    text-align: none;
    list-style: none;
    align-items: center;
    color: #ababab;

}

.titulop {
    background-color: #1e3932;
    height: 200px;
    width: 100%;
}

.titulope {
    background-color: #1e3932;
    height: 150px;
    width: 100%;
}

.tituloc {
    color: white;
    font-size: 45px;
    padding-top: 4rem;
    padding-left: 20rem;
    font-weight: 700;
}

.tituloes {
    color: white;
    font-size: 50px;
    padding-top: 2rem;
    text-align: center;
    font-weight: 800;
}

.sectioncafe {
    display: flex;
    flex-direction: column;
    max-width: 51%;
    justify-content: flex-end;
    margin-left: 20rem;
    padding-top: 2rem;

}

.sectionexperiencia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 2rem;
    margin-right: 4rem;
    margin-left: 4rem;

}

.fotoexp {
    width: 50%;
}

.imagenescafe {
    width: 700px;
}

.parrafocafe {
    font-size: 18px;
    padding-bottom: 2rem;
    line-height: 2rem;
    text-align: justify;
    padding-top: 1rem;
}

.titulocafe {
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 1rem;
    padding-top: 2rem;
}

.titulo2 {
    width: 60%;
    text-align: center;
    margin-left: 17rem;
    margin-top: 3rem;
    padding-bottom: 5rem;

}

.inicio4_parrafo {
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 20px;
    width: 70%;
    line-height: 1.75;
    text-align: center;
    color: black;
}

.inicio4_h {
    font-size: 30px;
    margin-bottom: 1rem;
    color: black;
}

.inicio4_link {
    color: black;
    border: 1px solid;
    font-weight: 750;
    text-decoration: none;
    border-radius: 50px;
    padding: 7px 16px;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    justify-content: center;
}

.header {
    color: black;
    width: 100%;
    display: flex;
    flex-direction: row;
    min-height: 91px;
    align-items: center;
    background-color: white;
}

.bg-light {
    background-color: white;
}

.footermobile {
    display: none;
}

@media(max-width: 1023px) {
    .lista_ul {
        font-size: 13px;
        width: max-content;
        gap: 5px;
        margin-left: 0;
        margin-right: 0;
    }

    .ubicacion {
        padding-left: 350px;
        font-size: 13px;
    }

    .imgsection1 {
        width: 50%;
    }

    .imgsection3 {
        width: 100%;
        padding-top: 3rem;
        padding-bottom: 3rem;
        align-items: center;
    }

    .section1 {
        width: 100%;
        height: auto;
    }

    .inicio2_img {
        width: 100%;
        height: auto;
    }

    .section2 {
        width: 100%;
        height: auto;
    }

    .section2_div1 {
        height: auto;
    }

    .section3 {
        width: 100%;
        height: auto;
    }

    .inicio3_h {
        font-size: 25px;
        width: 300px;
        text-align: center;
    }

    .inicio3_parrafo {
        font-size: 21px;
    }

    .inicio3_link {
        text-align: center;
    }

    .inicio2_parrafo {
        font-size: 18px;
    }

    .div_footer {
        display: none;
    }

    .footermobile {
        display: block;
    }

    .datafiscal {
        padding-left: 2rem;
        padding-top: 2rem;
        padding-bottom: 3rem;
    }

    .imagenescafe {
        width: 600px;
    }

    .parrafocafe {
        width: 600px;
    }

    .sectioncafe {
        margin-left: 14rem;
        padding-bottom: 3rem;
    }

    .tituloc {
        padding-left: 14rem;
        padding-top: 3rem;
    }

    .titulop {
        height: 150px;
    }

    .tituloes {
        font-size: 45px;
        padding-top: 3rem;
    }

    .titulo2 {
        margin-left: 10rem;
        width: 700px;
        font-size: 30px;
    }

    .inicio3_img {
        width: 100%;
        height: auto;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .inicio3_h {
        font-size: 25px;
    }

    .inicio4_parrafo {
        font-size: 18px;
        width: 400px;
    }
}

@media(max-width: 600px) {
    .header {
        flex-direction: row;
        justify-content: flex-end;
        margin-right: 3rem;


    }

    .lista_ul {
        width: 300px;
        font-size: 10px;
        text-decoration: none;
        flex-direction: column;


    }

    .menu {
        margin-left: 0;
    }

    .cafe {
        margin-left: 0;
    }

    .experiencia {
        margin-left: 0;
    }

    .nav-item {
        text-align: center;
    }

    .section1 {
        width: 100%;
        padding-bottom: 2rem;
    }

    .imgsection1 {
        width: 100%;
    }

    .navbar-collapse {
        width: 100%;
        padding-left: 8rem;
    }


    .section2 {
        flex-direction: column-reverse;
        width: 100%;
    }

    .section2_div1 {
        width: 100%;
    }

    .inicio2_img {
        width: 100%;
        height: auto;
    }

    .inicio2_parrafo {
        font-size: 15px;
        padding-top: 3rem;

    }

    .section2_div {
        width: 100%;
    }

    .inicio2_link {
        font-size: 14px;
        margin-bottom: 3rem;
    }

    .main {
        width: auto;
    }

    .section3 {
        flex-direction: column;
        width: 100%;
    }

    .inicio3_div {
        width: 100%
    }

    .inicio3_textos {
        width: 100%
    }

    .imgsection3 {
        width: 100%;
        height: auto;
        padding-top: 0;
        padding-bottom: 0;
    }

    .inicio3_h {
        font-size: 20px;
    }

    .inicio3_parrafo {
        font-size: 15px;
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .ffinal {
        width: 100%;
    }

    .inicio3_link {
        font-size: 16px;
        margin-bottom: 2rem;
        width: 100%;
    }

    .footerfinal {
        padding-left: 0;
    }

    .footerfinal2 {
        flex-direction: column;
    }

    .enlacesredes {
        align-items: flex-start;
    }

    .derechosr {
        width: 100%;
        align-items: flex-start;
        padding-left: 2rem;
        padding-right: 2rem;

    }

    .navbar {
        justify-content: end;
        padding-right: 5rem;
    }

    .efooter {
        width: 100%;
    }

    .subrayadooff2 {
        font-size: 15px;
        width: 250px;
    }

    .tituloc {
        width: 100%;
    }

    .main {
        width: 100%;
    }

    .titulo2 {
        width: 260px;
        margin-left: 2rem;
        font-size: 25px;
    }

    .sectionexperiencia {
        width: 90%;
        margin-left: 1rem;
    }

    .inicio3_img {
        width: 100%;
        height: auto;
        padding-top: 0;
        padding-bottom: 2rem;
        background-color: #f2f0eb;
    }

    .inicio3_h {
        margin-left: 1rem;
    }

    .inicio4_parrafo {
        width: 80%;
        font-size: 15px;
    }

    .section2_div {
        padding-bottom: 2rem;
        background-color: #f2f0eb;
    }

    .tituloes {
        font-size: 35px;
        padding-top: 2rem;
    }

    .inicio3_textos {
        background-color: #f2f0eb;
        padding-bottom: 1rem;;
        width: 100%;
        padding-left: 2rem;
        padding-right: 2rem;
    }
.section3{background-color: f2f0eb;}
    .parrafocafe {
        width: 100%;
        font-size: 17px;
        padding-bottom: 1rem;
        padding-top: 0;
    }

    .imagenescafe {
        width: 100%;
        padding-bottom: 1rem;
    }

    .tituloc {
        width: 100%;
        font-size: 35px;
        padding-left: 2rem;
    }

    .sectioncafe {
        margin-left: 2rem;
        margin-right: 2rem;
        max-width: 100%;
    }

    .titulocafe {
        width: 280px;
    }


}